@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fuzzy Bubbles', cursive;
  background: #f5f5f5;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

main h1{
  margin-bottom: 2rem;
  font-size: 50px;
}

main #carta-contador{
  margin-bottom: 1rem;
}

main #carta-texto{
  margin-bottom: 2rem;
  padding: 5px;
  border-radius: 10px;
}

main #criar-carta{
  padding: 10px;
  border-radius: 10px;
  background: #51009c;
  border: 1px solid #000;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 18px;
}

main #criar-carta:hover{
  background: #2b0053;
}

.newspaper {
  background-color: rgb(250, 235, 215);
  font-family: 'Fuzzy Bubbles', cursive;
  font-weight: 700;
}

.magazine1 {
  background-color: rgb(0, 128, 128);
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url(images/pink-pattern.png);
  color: rgb(255, 0, 255);
  font-family: Verdana;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);
}

.rotateright {
  transform: matrix(0.996195, 0.0871557, -0.0871557, 0.996195, 0, 0);
}

.skewleft {
  transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.skewright {
  transform: matrix(1, 0, -0.176327, 1, 0, 0);
}

span {
  display: inline-block;
}
